* {
    line-height: 1.5;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: darkgrey;
}

img {
    width: 200px;
    display: inline-block;
    vertical-align: top;
}

ul {
    list-style: none;
}

h1 {
    color: darkred;
}
p {
    margin-bottom: 20px;
}

.recipe-card {
    width: 800px;
    background-color: #b89292;
    color: black;
    margin: 20px auto;
}

.recipe-content {
    padding: 20px;
    display: inline-block;
    width: 500px;
    vertical-align: top;
}
.recipe-info {
    display: inline-block;
    width: 400px;
}

.recipe-card h2, .recipe-card a{
    text-transform: uppercase;
}

.recipe-card.feature {
    border: 2px solid darkred;
}

ul li h2 {
    font-size: 16px;
}
ul li {
    display: inline-block;
    margin-right: 10px;
}

.container .recipe-card {
    background-color: #7ccac6;
}
 .recipe-card a {
    background-color: #ca857c;
    color: white;
    text-decoration: none;
    padding: 10px 12px;
    display: inline-block;
    vertical-align: top;
}
span.highlight {
    background-color: lightpink;
    color: darkred;
    padding: 0 3px;
    margin: 0 -3px;
}

/* to select an id, and use it as a selector, it will have a # at the front
    In the html: <div id="text">text in here</div>
    In the css: #text {
                        background-color: red;
                        } 
*/ 

/* HTML: <div>
            <div class="subsection header">Latest Posts</div>
            <p class="subsection" id="preview">
                This is where a preview for a post might go.
            </p>
        </div>

    CSS: .subsection.header {
            color: red;
           }

          .subsection#preview {
            color: blue;
           }
*/

/* Specificity values
//
// Type selectors   | value: 1      | e.g. img
// Class selectors  | value: 10     | e.g. .recipe-card
// Id selectors     | value: 100    | e.g. #container
// Inline styles    | value: 1000   | e.g. <h1 style=""></h1> 
*/

/* ========== BOX MODEL ========== //
//
// Margin      | e.g. margin: 10px 10px 10px 10px (top | right | bottom | left)  
// Border      | e.g. border: 2px dotted green
// Padding     | e.g. padding: 10px (shorthand)
// Content     | 
*/