body {
    background-color: darkgray;
    text-align: center;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}
.header {
    text-align: center;
    background-color: rgb(119, 119, 119);
    flex: 1;
}
a {
    text-decoration: none;
    display: block;
    padding: 10px;
    color: white;
}
ul {
    list-style: none;
    line-height: 1.5;
    margin: 0;
    padding: 0;
}
li {
    display: inline;
    float: left;
}
img {
    width: 300px;
}
.navbar-1 {
    display: flex; 
    flex-direction: row;
    justify-content: center;
    background-color: gray;
}
.navbar-1 ul {
    display: inline-flex;
    list-style: none;

}
.navbar-1 ul li {
    margin: 5px;
    padding: 5px;
}
.navbar-1 ul li a {
    text-decoration: none;

}

.active, .navbar-1 ul li:hover {
    background-color: crimson;
    border-radius: 3px;
}

.dropdown {
    display: none;
}
.navbar-1 ul li:hover .dropdown {
    display: block;
    position: absolute;
    background-color: red;
    margin-top: 5px;
    margin-left: -5px;
    max-width: 200px;
}
.navbar-1 ul li:hover .dropdown ul {
    display: block;
    margin: 10px;
}
.navbar-1 ul li:hover .dropdown ul li {
    width: 150px;
    padding: 10px;
    border-bottom: 1px dotted #fff;
    background-color: transparent;
    border-radius: 0;
    text-align: left;
}   
.navbar-1 ul li:hover .dropdown ul li:last-child {
    border-bottom: none;
}
.navbar-1 ul li:hover .dropdown ul li a:hover {
    color: blue;
}
