* {
    padding: 0;
    margin: 0;
}

body {
    background-color: rgba(0, 0, 0, 0.95);
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 200px;
    height: 100vh;
    background-color: #222;
    overflow-y: auto;
    z-index: 100;
  }
  
  .sidebar a {
    display: block;
    padding: 10px 15px;
    color: #fff;
    text-decoration: none;
  }
  
  .sidebar a:hover {
    background-color: #444;
  }
  
  .sidebar i {
    margin-right: 10px;
  }